.app-botao-cadastrar {
  border: 1px solid rgb(114, 114, 114);
  font-size: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}
.app-titulo-responsivo {
  font: 1.5rem / 1.8rem Roboto, sans-serif;
  margin: 0;
}
.app-card-componentes {
  background-color: #3d3d3d;
}


.app-icone-tarefas {
  justify-content: center;
  margin-right: 10px;
  font-size: 29px;
  width: 28px;
  height: 27px;
}
.app-input-sanfona {
  background-color: var(--mdc-filled-text-field-container-color, var(--mat-app-surface-variant));
  padding: 4px 16px;
  border-bottom: 1px solid white;
  border-radius: 4px 4px 0 0;
  font-family: var(--mat-form-field-container-text-font, var(--mat-app-body-large-font));
  margin-top: 35px;
}
.app-pill {
  margin: 0;
  display: inline;
  position: relative;
  border-radius: 25px;
  padding: 2px 6px;
  font-size: 13px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}


.mat-expansion-panel-header-description {
  flex-grow: 0;
}
.mat-expansion-panel-header {
  padding: 0;
}
.app-listagem-itens {
  margin: 0 auto;
  width: 95%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  background-color: rgba(117, 117, 117, 0.185);
  border-radius: 4px 4px 0 0;
  font-size: 15px;
  border-bottom: 1px solid white;
  justify-content: space-between;
}
.app-btn-alterar-item {
  font-size: 18px;
  width: 18px;
  height: 16px;
  margin: 0;
}
.app-btn-excluir-item {
  font-size: 18px;
  width: 18px;
  height: 16px;
  margin: 0;
  color: #ff6060;
}
.app-confirmar-exclusao {
  background-color: rgb(167, 60, 60);
}
.app-item-concluido {
  border: 1px solid #64e64a;
  margin-right: 10px !important;
}
.app-item-pendente {
  border: 1px solid #e3e64a;
  margin-right: 10px !important;
  padding: 2px 7px !important;
}
.app-nao-ha-itens {
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.63);
}
.app-erro-sem-itens {
  font-family: sans-serif;
  padding: 0 15px;
}


.app-btn-editar {
  color: #ffffff;
  border: 1px solid rgb(39, 39, 39);
}
.app-btn-excluir {
  color: #942626;
  border: 1px solid rgb(39, 39, 39);
}


@media (min-width: 768px) {
  .app-titulo-responsivo {
    font: 1.8rem / 1rem Roboto, sans-serif;
    margin: 0;
  }
}
