.app-card-componentes {
  background-color: #3d3d3d;
}
mat-form-field {
  font-size: 14px;
}
mat-label {
  font-size: 15px;
}
@media (min-width: 768px) {
  mat-form-field {
    font-size: inherit;
  }
  mat-label {
    font-size: inherit;
  }
}
