<main class="container-fluid app-container-componente">
  <app-titulo [componenteCss]='"tarefas"' [titulo]='"Editar tarefa"' [icone]='"task_alt"'></app-titulo>

  <div class="app-container-form">
    <form [formGroup]="tarefaForm" (submit)="editar()">
      <app-input-texto
        [campoDesejado]="'título'" [placeholder]="'Ex: Não lavar o cachorro'" [pronome]="'o'" [valorAtual]="titulo?.value"
        (inputTexto)="titulo?.setValue($event)">
      </app-input-texto>

      <app-input-radio
        [campoDesejado]="'Prioridade*'" [opcoes]="[{nome: 'Baixa', valor: 0}, {nome: 'Média', valor: 1}, {nome: 'Alta', valor: 2}]" [valorAtual]="prioridade?.value"
        (input)="prioridade?.setValue($event)">
      </app-input-radio>

      <app-conclusao-itens
        [itensTarefa]="itensTarefa"
        (concluirItem)="concluirItem($event)"
      ></app-conclusao-itens>

      <div class="mb-5">
        <p class="mt-5 mx-3 mb-2" style="font-family: sans-serif;">Percentual de conclusão:</p>
        <h6
          class="fs-6 text-center fw-semibold"
          style="border: 1px solid gray; border-radius: 25px;"
          [ngStyle]="{
            background:
              porcentagemConclusao <= 25 ? 'linear-gradient(90deg, #ff4343 ' + porcentagemConclusao + '%, transparent ' + porcentagemConclusao + '%)' :
              porcentagemConclusao <= 50 ? 'linear-gradient(90deg, #ffde4c ' + porcentagemConclusao + '%, transparent ' + porcentagemConclusao + '%)' :
              porcentagemConclusao <= 75 ? 'linear-gradient(90deg, #d6ff42 ' + porcentagemConclusao + '%, transparent ' + porcentagemConclusao + '%)' :
              'linear-gradient(90deg, #71ff2f ' + porcentagemConclusao + '%, #e0e0e0 ' + porcentagemConclusao + '%)',
            color: 'gray'
          }"
        >
          {{ porcentagemConclusao }}%
        </h6>
      </div>
      <app-submeter-form [rota]='"/tarefas"'></app-submeter-form>
    </form>
  </div>
</main>
