@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/bootstrap-utilities";

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Helvetica Neue", sans-serif !important; }

mat-error {
  font-size: 13px;
  margin-top: 4px;
  color: #dd4f4f;
}

.notificacao-sucesso {
  --mdc-snackbar-container-color: #0b4730;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #ffffff;
}

.notificacao-aviso {
  --mdc-snackbar-container-color: #dccf40;
  --mdc-snackbar-supporting-text-color: #000000;
  --mat-snack-bar-button-color: #000000;
}

.notificacao-erro {
  --mdc-snackbar-container-color: #dd4f4f;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #ffffff;
}

.app-form-field {
  width: 100%;
  margin-top: 15px;
}
