.app-btn-editar {
  width: 42px;
  height: 42px;
  color: #ffffff;
  border: 1px solid rgb(39, 39, 39);
  margin-right: 6px;
}

.app-btn-excluir {
  width: 42px;
  height: 42px;
  color: #942626;
  border: 1px solid rgb(39, 39, 39);
}
