<main class="container-fluid app-container-componente">
  <app-titulo [componenteCss]='"compromissos"' [titulo]='"Editar compromisso"' [icone]='"event"'></app-titulo>

  <div class="app-container-form">
    <form [formGroup]="compromissoForm" (ngSubmit)="editar()">
      <app-input-texto
        [campoDesejado]="'assunto'" [placeholder]="'Ex: Não lavar o cachorro'" [pronome]="'o'" [valorAtual]="assunto?.value"
        (inputTexto)="assunto?.setValue($event)">
      </app-input-texto>

      <app-input-radio
        [campoDesejado]="'Tipo de local*'" [opcoes]="[{nome: 'Remoto', valor: 0}, {nome: 'Presencial', valor: 1}]" [valorAtual]="tipoLocal?.value"
        (input)="tipoLocal?.setValue($event); tipoDeLocalEscolhido()">
      </app-input-radio>

      <mat-form-field class="app-form-field">
        <mat-label>Link</mat-label>
        <input formControlName="link" matInput placeholder="Ex: https://reuniao.com" data-cy="link"/>
        <mat-icon matSuffix color="primary">link</mat-icon>
        <mat-error *ngIf="link?.invalid && link?.errors?.['required']">
          O link é obrigatório!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="app-form-field">
        <mat-label>Local</mat-label>
        <input formControlName="local" matInput placeholder="Ex: sala 104" data-cy="local"/>
        <mat-icon matSuffix color="primary">place</mat-icon>
        <mat-error *ngIf="local!.invalid && local?.errors?.['required']">
          O local é obrigatório!
        </mat-error>
        <mat-error *ngIf="local!.invalid && local?.errors?.['minlength']">
          O local precisa conter ao menos 3 caracteres!
        </mat-error>
      </mat-form-field>

      <app-input-data [valorAtual]="data?.value" (input)="data?.setValue($event)"></app-input-data>

      <app-input-horario
        [campoDesejado]="'início'" [placeholder]="'Ex: 09:00'" [valorAtual]="horaInicio?.value" (inputHorario)="horaInicio?.setValue($event)">
      </app-input-horario>

      <app-input-horario
        [campoDesejado]="'término'" [placeholder]="'Ex: 10:00'" [valorAtual]="horaTermino?.value" (inputHorario)="horaTermino?.setValue($event)">
      </app-input-horario>

      <app-select-contatos [contatos]="contatos" [valorAtual]="contatoId?.value" (input)="contatoId?.setValue($event)"></app-select-contatos>

      <app-submeter-form [rota]='"/compromissos"'></app-submeter-form>
    </form>
  </div>
</main>
