<main class="container-fluid p-5">
  <app-titulo [componenteCss]='"contatos"' [titulo]='"Cadastrar contato"' [icone]='"people"'></app-titulo>

  <div class="row g-3 mx-auto col-12 col-md-10 col-lg-8">
    <form [formGroup]="contatoForm" (submit)="cadastrar()">
      <app-input-texto
        [campoDesejado]="'nome'" [placeholder]="'Ex: Ana Júlia'" [pronome]="'o'"
        (inputTexto)="nome?.setValue($event)">
      </app-input-texto>

      <app-input-email (inputEmail)="email?.setValue($event)"></app-input-email>

      <app-input-texto
        [campoDesejado]="'empresa'" [placeholder]="'Ex: Anatel'" [pronome]="'a'"
        (inputTexto)="empresa?.setValue($event)">
      </app-input-texto>

      <app-input-texto
        [campoDesejado]="'cargo'" [placeholder]="'Ex: Presidente'" [pronome]="'o'"
        (inputTexto)="cargo?.setValue($event)">
      </app-input-texto>

      <app-input-telefone (inputTelefone)="telefone?.setValue($event)"></app-input-telefone>

      <app-submeter-form [rota]='"/contatos"'></app-submeter-form>
    </form>
  </div>
</main>
