<main class="container-fluid p-5">
  <app-titulo [componenteCss]='"contatos"' [titulo]='"Editar contato"' [icone]='"people"'></app-titulo>

  <div class="row g-3 mx-auto col-12 col-md-10 col-lg-8">
    <form [formGroup]="contatoForm" (submit)="editar()">
      <app-input-texto
        [campoDesejado]="'nome'" [placeholder]="'Ex: Ana Júlia'" [pronome]="'o'" [valorAtual]="nome?.value"
        (inputTexto)="nome?.setValue($event)">
      </app-input-texto>

      <app-input-email (inputEmail)="email?.setValue($event)" [valorAtual]="email?.value"></app-input-email>

      <app-input-texto
        [campoDesejado]="'empresa'" [placeholder]="'Ex: Anatel'" [pronome]="'a'" [valorAtual]="empresa?.value"
        (inputTexto)="empresa?.setValue($event)">
      </app-input-texto>

      <app-input-texto
        [campoDesejado]="'cargo'" [placeholder]="'Ex: Presidente'" [pronome]="'o'" [valorAtual]="cargo?.value"
        (inputTexto)="cargo?.setValue($event)">
      </app-input-texto>

      <app-input-telefone (inputTelefone)="telefone?.setValue($event)" [valorAtual]="telefone?.value"></app-input-telefone>

      <app-submeter-form [rota]='"/contatos"'></app-submeter-form>
    </form>
  </div>
</main>
