<main class="container-fluid app-container-componente">
  <app-titulo [componenteCss]='"categorias"' [titulo]='"Editar categoria"' [icone]='"bookmarks"'></app-titulo>

  <div class="app-container-form">
    <form [formGroup]="categoriaForm" (submit)="editar()">
      <mat-form-field class="w-100">
        <mat-label>Título da Categoria</mat-label>
        <input formControlName="titulo" matInput placeholder="Ex: Lazer" />
        <mat-icon matSuffix color="primary">subtitles</mat-icon>
        <mat-error *ngIf="titulo?.invalid && (titulo?.errors)!['required']">
          O título é obrigatório!
        </mat-error>
        <mat-error *ngIf="titulo?.invalid && (titulo?.errors)!['minlength']">
          O título precisa conter ao menos 3 caracteres!
        </mat-error>
      </mat-form-field>
      <app-submeter-form [rota]='"/categorias"'></app-submeter-form>
    </form>
  </div>
</main>
