<main class="container-fluid app-container-componente">
  <app-titulo [componenteCss]='"categorias"' [titulo]='"Editar categoria"' [icone]='"bookmarks"'></app-titulo>

  <div class="app-container-form">
    <form [formGroup]="categoriaForm" (submit)="editar()">
      <app-input-texto
        [valorAtual]="titulo?.value" [placeholder]="'Ex: Lazer'" [campoDesejado]="'Título'" [pronome]="'a'"
        (inputTexto)="titulo?.setValue($event)">
      </app-input-texto>
      <app-submeter-form [rota]='"/categorias"'></app-submeter-form>
    </form>
  </div>
</main>
