<main class="container-fluid app-container-componente">
  <app-titulo [componenteCss]='"tarefas"' [titulo]='"Cadastrar tarefa"' [icone]='"task_alt"'></app-titulo>

  <div class="app-container-form">
    <form [formGroup]="tarefaForm" (submit)="cadastrar()">
      <app-input-texto
        [campoDesejado]="'título'" [placeholder]="'Ex: Não lavar o cachorro'" [pronome]="'o'"
        (inputTexto)="titulo?.setValue($event)">
      </app-input-texto>

      <app-input-radio
        [campoDesejado]="'Prioridade*'" [opcoes]="[{nome: 'Baixa', valor: 0}, {nome: 'Média', valor: 1}, {nome: 'Alta', valor: 2}]"
        (input)="prioridade?.setValue($event)">
      </app-input-radio>

      <app-input-itens
        [itensTarefa]="itensTarefa"
        (adicionarItem)="inserirItens($event)"
        (excluirItem)="excluirItem($event)"
        (editarItem)="editarItem($event)"
      ></app-input-itens>
      <mat-error class="app-erro-sem-itens" *ngIf="erroSemItens">
        Insira ao menos um item!
      </mat-error>

      <app-submeter-form [rota]='"/tarefas"'></app-submeter-form>
    </form>
  </div>
</main>
