<main class="container-fluid p-5">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="fs-2 m-0">
      <mat-icon class="app-icone-tarefas">task_alt</mat-icon>
      Cadastrar tarefa
    </h1>
    <section class="d-flex justify-content-end">
      <a
        mat-button
        class="app-botao-home"
        [routerLink]="['/dashboard']"
      >
        <mat-icon class="app-icone-home">home</mat-icon>
      </a>
    </section>
  </div>
  <hr>

  <div class="row g-3 mx-auto col-12 col-md-10 col-lg-8">
    <form [formGroup]="tarefaForm" (submit)="cadastrar()">
      <mat-form-field class="app-form-field" appearance="fill">
        <mat-label>Título</mat-label>
        <input formControlName="titulo" matInput placeholder="Ex: Ana Júlia" />
        <mat-icon matSuffix color="primary">subtitles</mat-icon>
        <mat-error *ngIf="titulo?.invalid && (titulo?.errors)!['required']">
          O titulo é obrigatório!
        </mat-error>
        <mat-error *ngIf="titulo?.invalid && (titulo?.errors)!['minlength']">
          O titulo precisa conter ao menos 3 caracteres!
        </mat-error>
      </mat-form-field>

      <div class="d-flex align-items-center mb-4 app-form-field">
        <div class="app-input-forjado h-auto w-100">
          <mat-label class="me-5 mt-2">Prioridade*</mat-label>
          <mat-radio-group formControlName="prioridade">
            <mat-radio-button value = '0' class="me-5">Baixa</mat-radio-button>
            <mat-radio-button value = '1' class="me-5">Média</mat-radio-button>
            <mat-radio-button value = '2'>Alta</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <mat-form-field class="app-form-field" appearance="fill">
        <mat-label>Itens</mat-label>
        <input formControlName="itens" matInput placeholder="Ex: Presidente" />
        <mat-icon matSuffix color="primary">subtitles</mat-icon>
        <mat-error *ngIf="itens?.invalid && (itens?.errors)!['required']">
          O itens é obrigatório!
        </mat-error>
        <mat-error *ngIf="itens?.invalid && (itens?.errors)!['minlength']">
          O itens precisa conter ao menos 3 caracteres!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="app-form-field" appearance="fill">
        <mat-label>Telefone</mat-label>
        <input formControlName="telefone" matInput mask="(00) 00000-0000" placeholder="Ex: (22) 99999-9999" />
        <mat-icon matSuffix color="primary">subtitles</mat-icon>
        <mat-error *ngIf="telefone?.invalid && (telefone?.errors)!['required']">
          O telefone é obrigatório!
        </mat-error>
        <mat-error *ngIf="telefone?.invalid && (telefone?.errors)!['pattern']">
          O telefone precisa conter 11 dígitos!
        </mat-error>
      </mat-form-field>

      <div class="row justify-content-center g-2 gap-2 mt-3">
        <button type="submit" mat-flat-button class="col-sm-4 col-md-3">
          <mat-icon matIconPrefix>check</mat-icon>
          Confirmar
        </button>
        <a
          mat-stroked-button
          type="button"
          class="col-sm-4 col-md-3"
          routerLink="/tarefas"
        >
          <mat-icon matIconPrefix>keyboard_return</mat-icon>
          Voltar
        </a>
      </div>
    </form>
  </div>
</main>
