<main class="container-fluid app-container-componente">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="app-titulo-responsivo m-0">
      <mat-icon class="app-icone-tarefas d-none d-sm-inline-flex">task_alt</mat-icon>
      Tarefas
    </h1>
    <section class="d-flex justify-content-end">
      <a
        mat-button
        class="app-botao-home"
        [routerLink]="['/dashboard']"
      >
        <mat-icon class="app-icone-home">home</mat-icon>
      </a>
    </section>
  </div>
  <hr>
  <section class="row justify-content-center g-1">
    <a
      mat-button
      class="col-sm-6 col-md-4 col-xl-3 fs-6 py-4 mb-3 app-botao-cadastrar"
      [routerLink]="['/tarefas', 'inserir']"
    >
      <mat-icon>bookmark_add</mat-icon>
      Cadastrar
    </a>
  </section>

  <div class="row g-3 mt-2">
    <div *ngFor="let tarefa of tarefas" class="col-sm-6 col-md-4 col-xxl-3">
      <mat-card class="mat-mdc-elevation-specific mat-elevation-z3 h-100 app-card-componentes">
        <mat-card-header>
          <mat-card-title class="app-titulo-card">
            {{ tarefa.titulo }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content style="font-size: 12px;">
          <p class="m-0">{{ tarefa.dataCriacao }}</p>
          <p class="m-0">{{ tarefa.prioridade }}</p>
          <p class="m-0 mt-3">Empresa: {{ tarefa.situacao }}</p>
        </mat-card-content>
        <mat-card-footer class="d-flex justify-content-end p-3 mt-auto gap-1">
          <a mat-icon-button
            class="app-btn-editar"
            [routerLink]="['/tarefas', 'editar', tarefa.id]"
            matTooltip="Editar"
          >
            <mat-icon> edit </mat-icon>
          </a>
          <a mat-icon-button
            class="app-btn-excluir"
            [routerLink]="['/tarefas', 'excluir', tarefa.id]"
            matTooltip="Excluir"
          >
            <mat-icon> delete </mat-icon>
          </a>
        </mat-card-footer>
      </mat-card>
    </div>
    <div *ngIf="tarefas?.length == 0" class="row g-3 mt-4">
      <p class="text-center text-secondary">Ainda não existem tarefas cadastradas :(</p>
    </div>
  </div>
</main>
