<mat-form-field class="app-form-field">
  <mat-label>Email</mat-label>
  <input [formControl]="inputControl" matInput placeholder="Ex: ana@dominio.com" (input)="validarInput()" data-cy="email"/>
  <mat-icon matSuffix color="primary">subtitles</mat-icon>
  <mat-error *ngIf="inputControl?.invalid && (inputControl?.errors)!['required']">
    O email é obrigatório!
  </mat-error>
  <mat-error *ngIf="inputControl?.invalid && (inputControl?.errors)!['email']">
    O email precisa seguir o formato "usuario&#64;dominio.com"
  </mat-error>
</mat-form-field>
