<main class="container-fluid app-container-componente">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="app-titulo-responsivo">
      <mat-icon class="app-icone-categorias d-none d-sm-inline-flex">bookmarks</mat-icon>
      Categorias
    </h1>
    <a mat-icon-button style="width: 60px; height: 60px" [routerLink]="['/dashboard']">
      <mat-icon style="color: #ffabf3; font-size: 35px; width: 40px; height: auto; margin-top: 3px;">home</mat-icon>
    </a>
  </div>
  <hr>

  <section class="row justify-content-center g-1">
    <a mat-button
      class="col-sm-6 col-md-4 col-xl-3 app-botao-cadastrar"
      [routerLink]="['/categorias', 'inserir']"
    >
      <mat-icon>bookmark_add</mat-icon>
      Cadastrar
    </a>
  </section>

  <div class="row g-3 mt-2">
    <div *ngFor="let cat of categorias" class="col-sm-6 col-md-4 col-xxl-3">
      <mat-card class="mat-mdc-elevation-specific mat-elevation-z3 h-100 app-card-componentes">
        <mat-card-header>
          <mat-card-title class="app-titulo-card">
            {{ cat.titulo }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-footer class="d-flex justify-content-end p-3 mt-auto gap-1">
          <a mat-icon-button
            class="app-btn-editar"
            [routerLink]="['/categorias', 'editar', cat.id]"
            matTooltip="Editar {{ cat.titulo }}"
          >
            <mat-icon> edit </mat-icon>
          </a>
          <a mat-icon-button
            class="app-btn-excluir"
            [routerLink]="['/categorias', 'excluir', cat.id]"
            matTooltip="Excluir {{ cat.titulo }}"
          >
            <mat-icon> delete </mat-icon>
          </a>
        </mat-card-footer>
      </mat-card>
    </div>
    <div *ngIf="categorias?.length == 0" class="row g-3 mt-2">
      <p class="text-center text-secondary">Ainda não existem categorias cadastradas :(</p>
    </div>
  </div>
</main>
