.app-container-categorias {
  padding: 50px;
}

.app-card-categorias {
  background-color: #3d3d3d;
}

.app-botao-cadastrar {
  border: 1px solid rgb(114, 114, 114);
}

.app-btn-editar {
  color: #ffffff;
  border: 1px solid rgb(39, 39, 39);
}

.app-btn-excluir {
  color: #942626;
  border: 1px solid rgb(39, 39, 39);
}
