<mat-card class="mt-5 app-card-componentes container d-flex text-center p-3" style="width: 70%;">
  <div class="mx-auto">
    {{tarefa?.titulo}}
    <p style="font-size: 13px; margin-bottom: 10px; color: rgba(192, 192, 192, 0.63);"><strong>Id:</strong> {{tarefa?.id}}</p>
  </div>
  <hr>
  <div class="row" style="font-size: 14px;">
    <div class="col text-end">
      <p class="mb-1">Prioridade:</p>
      <p class="mb-1">Criada em:</p>
      <p *ngIf="tarefa?.percentualConcluido == 100" class="mb-1">Concluida em:</p>
      <p class="mb-1">Percentual concluído:</p>
      <p class="mb-1">Itens:</p>
    </div>
    <div class="col text-start">
      <p class="mb-1">{{ tarefa!.prioridade }}</p>
      <p class="mb-1">{{ mostrarData(tarefa!.dataCriacao) }}</p>
      <p *ngIf="tarefa?.percentualConcluido == 100" class="mb-1">{{ mostrarData(tarefa!.dataConclusao) }}</p>
      <p class="mb-1">{{ tarefa!.percentualConcluido }}%</p>
      <div *ngFor="let item in tarefa.itens">
        <p class="mb-1">{{ item.titulo }}%</p>
      </div>
    </div>
  </div>
</mat-card>
