<mat-card class="container-fluid border-1 border-secondary app-container-excluir col-12 col-md-10 col-lg-8">
  <div class="mx-auto">
    {{despesa?.descricao}}
    <p style="font-size: 13px; margin-bottom: 10px; color: rgba(192, 192, 192, 0.63);"><strong>Id:</strong> {{despesa?.id}}</p>
  </div>
  <hr>
  <div class="row" style="font-size: 14px;">
    <div class="col text-end">
      <p class="mb-1">Valor:</p>
      <p class="mb-1">Data:</p>
      <p class="mb-1">Forma de pagamento:</p>
    </div>
    <div class="col text-start">
      <p class="mb-1">R$ {{ despesa?.valor }}</p>
      <p class="mb-1">{{ mostrarData(despesa!.data) }}</p>
      <p class="mb-1">{{ despesa!.formaPagamento }}</p>
    </div>
  </div>
</mat-card>
