<main class="container-fluid app-container-componente">
  <app-titulo [componenteCss]='"compromissos"' [titulo]='"Cadastrar compromisso"' [icone]='"event"'></app-titulo>

  <div class="app-container-form">
    <form [formGroup]="despesaForm" (ngSubmit)="cadastrar()">

      <mat-form-field class="app-form-field">
        <mat-label>Assunto</mat-label>
        <input formControlName="assunto" matInput placeholder="Ex: Não lavar o cachorro" />
        <mat-icon matSuffix color="primary">subtitles</mat-icon>
        <mat-error *ngIf="despesaForm.get('assunto')!.invalid && despesaForm.get('assunto')?.errors?.['required']">
          O assunto é obrigatório!
        </mat-error>
        <mat-error *ngIf="despesaForm.get('assunto')!.invalid && despesaForm.get('assunto')?.errors?.['minlength']">
          O assunto precisa conter ao menos 3 caracteres!
        </mat-error>
      </mat-form-field>

      <div class="app-input-forjado d-md-flex app-form-field">
        <mat-label class="me-5">Tipo de local*</mat-label>
        <div class="align-items-center">
          <mat-radio-group formControlName="tipoLocal" aria-label="Tipo de Local" (change)="tipoDeLocalEscolhido($event)">
            <mat-radio-button value = '1' class="me-4">Presencial</mat-radio-button>
            <mat-radio-button value = '0' >Remoto</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <mat-form-field class="app-form-field">
        <mat-label>Local</mat-label>
        <input formControlName="local" matInput placeholder="Ex: sala 104" />
        <mat-icon matSuffix color="primary">place</mat-icon>
        <mat-error *ngIf="despesaForm.get('local')!.invalid && despesaForm.get('local')?.errors?.['required']">
          O local é obrigatório!
        </mat-error>
        <mat-error *ngIf="despesaForm.get('local')!.invalid && despesaForm.get('local')?.errors?.['minlength']">
          O local precisa conter ao menos 3 caracteres!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="app-form-field">
        <mat-label>Link</mat-label>
        <input formControlName="link" matInput placeholder="Ex: https://reuniao.com" />
        <mat-icon matSuffix color="primary">link</mat-icon>
        <mat-error *ngIf="link?.invalid && link?.errors?.['required']">
          O link é obrigatório!
        </mat-error>
        <mat-error *ngIf="link?.invalid && link?.errors?.['pattern']">
          O link precisa estar no formato de um URL padrão!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="app-form-field">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="data" placeholder="Escolha uma data">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="data?.invalid && data?.errors?.['required']">
          A data é obrigatória!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="app-form-field">
        <mat-label>Hora de Início</mat-label>
        <input formControlName="horaInicio" matInput placeholder="Ex: 09:00" />
        <mat-icon matSuffix color="primary">schedule</mat-icon>
        <mat-error *ngIf="horaInicio?.invalid && horaInicio?.errors?.['required']">
          A hora de início é obrigatória!
        </mat-error>
        <mat-error *ngIf="horaInicio?.invalid && horaInicio?.errors?.['pattern']">
          Informe uma hora válida no formato HH:mm!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="app-form-field">
        <mat-label>Hora de Término</mat-label>
        <input formControlName="horaTermino" matInput placeholder="Ex: 10:30" />
        <mat-icon matSuffix color="primary">schedule</mat-icon>
        <mat-error *ngIf="horaTermino?.invalid && horaTermino?.errors?.['required']">
          A hora de término é obrigatória!
        </mat-error>
        <mat-error *ngIf="horaTermino?.invalid && horaTermino?.errors?.['pattern']">
          Informe uma hora válida no formato HH:mm!
        </mat-error>
      </mat-form-field>

      <div *ngIf="contatos$ | async as contatos">
        <mat-form-field class="app-form-field">
          <mat-label>Contato</mat-label>
          <mat-select formControlName="contatoId" placeholder="Selecione um contato">
            <mat-option *ngFor="let contato of contatos" [value]="contato.id">
              {{ contato.nome }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="contatoId?.invalid && contatoId?.errors?.['required']">
            O contato é obrigatório!
          </mat-error>
        </mat-form-field>
      </div>

      <app-submeter-form [rota]='"/compromissos"'></app-submeter-form>
    </form>
  </div>
</main>
