<main class="container-fluid app-container-componente">
  <app-titulo [componenteCss]='"despesas"' [titulo]='"Cadastrar despesa"' [icone]='"currency_exchange"'></app-titulo>

  <div class="app-container-form">
    <form [formGroup]="despesaForm" (ngSubmit)="cadastrar()">

      <app-input-texto
        [placeholder]="'Ex: Compras de natal'" [campoDesejado]="'descrição'" [pronome]="'a'"
        (inputTexto)="descricao?.setValue($event)">
      </app-input-texto>

      <mat-form-field appearance="fill" class="app-form-field">
        <mat-label>Valor</mat-label>
        <div class="app-btns-personalizados">
          <input formControlName="valor" matInput type="text" mask="separator.2" prefix="R$ " placeholder="Ex: 100,00" />
          <div class="mb-3">
            <button type="button" (click)="incrementar()"><mat-icon>arrow_drop_up</mat-icon></button>
            <button type="button" (click)="decrementar()"><mat-icon>arrow_drop_down</mat-icon></button>
          </div>
        </div>
        <mat-icon class="mt-1" matSuffix color="primary">attach_money</mat-icon>
        <mat-error *ngIf="valor!.invalid && valor?.errors?.['min']">
          O valor é obrigatório!
        </mat-error>
        <mat-error *ngIf="valor!.invalid && valor?.errors?.['max']">
          Não avacalhe
        </mat-error>
      </mat-form-field>

      <app-input-radio
        [campoDesejado]="'Forma de pagamento*'" [opcoes]="[{nome: 'Pix', valor: 0}, {nome: 'Dinheiro', valor: 1}, {nome: 'Cartão', valor: 2}]"
        (input)="formaPagamento?.setValue($event)">
      </app-input-radio>

      <app-input-data (input)="data?.setValue($event)"></app-input-data>

      <div class="app-input-forjado mb-0 p-3 pb-0">
        <mat-label [ngStyle]="{color: semCategorias ? '#ffb0b0' : '#fff0ffdc'}">
          Categorias*
        </mat-label>
        <div class="row mx-1 mt-3">
          <div *ngFor="let cat of categoriasSelecionadas" class="col-sm-5 col-md-4 col-xxl-3">
            <div class="app-card-categorias">
              <p class="ms-2 mb-0 flex-grow-1">{{cat.titulo}}</p>
              <a mat-icon-button matTooltip="Remover categoria" (click)="removerCategoria(cat)">
                <mat-icon class="app-btn-remover-cat">delete</mat-icon>
              </a>
            </div>
          </div>
        </div>
        <mat-form-field class="app-form-field mt-4">
          <mat-label>Inserir categorias</mat-label>
          <mat-select>
            <mat-option *ngFor="let cat of categorias" [value]="cat.id" (click)="selecionarCategoria(cat)">
              {{ cat.titulo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-error *ngIf="semCategorias" class="ms-3">
        Insira ao menos uma categoria
      </mat-error>

      <app-submeter-form [rota]='"/despesas"'></app-submeter-form>
    </form>
  </div>
</main>
