<main class="container-fluid app-container-categorias">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="fs-2 m-0">
      <mat-icon class="app-icone-contatos">people</mat-icon>
      Contatos
    </h1>
    <section class="d-flex justify-content-end">
      <a
        mat-button
        class="app-botao-home"
        [routerLink]="['/dashboard']"
      >
        <mat-icon class="app-icone-home">home</mat-icon>
      </a>
    </section>
  </div>
  <hr>
  <section
    class="row justify-content-center justify-content-lg-start g-1"
  >
    <a
      mat-button
      class="col-sm-6 col-md-4 fs-6 py-4 mb-3 app-botao-categorias"
      [routerLink]="['/contatos', 'inserir']"
    >
      <mat-icon>bookmark_add</mat-icon>
      Cadastrar
    </a>
  </section>

  <div *ngIf="contatos$ | async as contatos" class="row g-3 mt-2">
    <div *ngFor="let con of contatos" class="col-sm-6 col-md-4 col-xxl-3">
      <mat-card class="mat-mdc-elevation-specific mat-elevation-z3 h-100 app-card-categorias">
        <mat-card-header>
          <mat-card-title class="app-titulo-card">
            {{ con.nome }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-3">
          <p>{{ con.cargo }}</p>
        </mat-card-content>
        <mat-card-footer class="d-flex justify-content-end p-3 mt-auto gap-1">
          <a mat-icon-button
            class="app-btn-editar"
            [routerLink]="['/contatos', 'editar', con.id]"
            matTooltip="Editar {{ con.nome }}"
          >
            <mat-icon> edit </mat-icon>
          </a>
          <a mat-icon-button
            class="app-btn-excluir"
            [routerLink]="['/contatos', 'excluir', con.id]"
            matTooltip="Excluir {{ con.nome }}"
          >
            <mat-icon> delete </mat-icon>
          </a>
        </mat-card-footer>
      </mat-card>
    </div>
    <div *ngIf="contatos.length == 0" class="row g-3 mt-4">
      <p class="text-center text-secondary">Ainda não existem contatos cadastrados :(</p>
    </div>
  </div>
</main>
